<div class="header-container">
  <div class="header-info">
    <h2>{{header.name}}</h2>
    <p>{{header.goalLife}}</p>
  </div>

  <div>
    <img [src]="header.photoURL" class="round-photo" alt="Foto de perfil" />
  </div>

  <div class="header-icons">
    <div><i class="fas fa-envelope"></i> {{header.email}}</div>
    <div><i class="fas fa-phone"></i> {{header.phoneNumber}}</div>
    <div><i class="fas fa-map-marker-alt"></i> {{header.location}}</div>
    <div><i class="fas fa-share-alt"></i> {{header.socialNetwork}}</div>
  </div>
</div>

